{% extends 'index.html' %}
{% from "macros.html" import cocktailListItem %}
{% block content %}
<div class="container mx-auto dark">
    <div class="text-center neon p-4">
        <h1 class="title">{{ heading }}</h1>
    </div>
    <hr>

    {{ navBar() }}

    <h2>Choose your poison</h2>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for cocktail in data %}
                    {% for c in cocktail %}
                        {% if c != "none" %}
                            {{ cocktailListItem(cocktail[c]) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}